@model MIS4200Team3.Models.RecognizePeople

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RecognizePeople</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.recognizerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizerFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.recognizeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.recognizeeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Values)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Values)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecognizePeopleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
